body{background-color: rgb(15, 15, 48);
}
/*Attrbuite Selector*/
ul
{background-color: rgb(7, 7, 49);   
}
/*Child Selector*/
ul > li
{
color: rgb(10, 10, 102);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Sibiling Selector*/
h1 ~ p {
color: rgba(8, 16, 83, 0.795);
}
/*Psedo Classes*/
ul li:hover{
background-color: rgb(73, 0, 141);
}
a:hover{
color: rgb(39, 26, 160);
}
/*Pesdo Element*/
ul li::before{
content: url(https://api.iconify.design/bi/rocket-fill.svg?height=12&color=blue);
}
a::before{
    content: url(https://api.iconify.design/bi/star-fill.svg?height=12&color=blue);
}
p::first-letter{
    color: rgb(12, 54, 170);
    font-size: 28px;
}